<div class="col-sm-12 p0">
    <ul class="nav nav-tabs" id="mynav">
        <li role="presentation" class="active" value="1"><a href="#">我的菜单</a></li>
        <li role="presentation" value="2"><a href="#">发布菜单</a></li>
        <li role="presentation" value="3"><a href="#">收藏菜单</a></li>
    </ul>
    <div class="main">
        <div class="col-sm-12 t" style="margin-top: 20px;" id="mydish" >
        {{ range $i,$v := .menu.Menu}}
            <div  class="col-sm-12 mycollectmenu" >
                <div class="col-sm-10">
                    <p class="text-left">{{$v.MenuName}}</p>
                    <p class="text-left">{{$v.MenuDescribe}}</p>
                    <p class="text-left">{{$v.CreateDate}}</p>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default col-sm-7 gomenu" style="margin-top: 10px;" value="{{$v.Id}}">进入菜单</button>
                    <button class="btn btn-default col-sm-7 deletemenu" style="margin-top: 10px;margin-bottom: 10px;" value="{{$v.Id}}">删除菜单</button>
                </div>
            </div>
            {{end}}
        </div>
        <div class="col-sm-12 hidden t" style="margin-top: 20px;" id="releasedish">
            <form>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="img" class="control-label" id="addimg">MenuImg</label>
                        <input type="file" id="img" class="hidden">
                    </div>
                    <div class="col-sm-8" >
                        <img src=""  id="showimg" style="height: 100px;width: 100px;" alt="菜单图片">
                    </div>
                </div>

                <div class="form-group ">
                    <label for="menuname" class="control-label">Name:</label>
                    <input type="text" class="form-control" id="menuname">
                </div>
                <div class="form-group">
                    <label for="describe" class="control-label">MenuDescription:</label>
                    <textarea class="form-control" id="describe"></textarea>
                </div>
                <button class="btn btn-default" id="createmenu">发布菜单</button>
            </form>
        </div>
        <div class="col-sm-12 hidden t" style="margin-top: 20px;" id="collectdish">
            {{range $i,$v := .menu.CollectMenu}}
            <div  class="col-sm-12 mycollectmenu" >
                <div class="col-sm-10">
                    <p class="text-left">{{$v.MenuName}}</p>
                    <p class="text-left">{{$v.MenuDescribe}}</p>
                    <p class="text-left">{{$v.CreateDate}}</p>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default col-sm-7 gomenu" style="margin-top: 10px;" value="{{$v.Id}}">进入菜单</button>
                    <button class="btn btn-default col-sm-7 cancel" style="margin-top: 10px;margin-bottom: 10px;" value="{{$v.Id}}">取消收藏</button>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#mynav li").click(function () {
        var s = $(this).attr("value")
        $(".main .t").addClass("hidden")
        if ( s == 1 ){
            $("#mydish").removeClass("hidden")
        }else if(s  == 2){
            $("#releasedish").removeClass("hidden")
        }else if(s == 3){
            $("#collectdish").removeClass("hidden")
        }
    })

    $("#mynav li").click(function () {
        console.log("12312312321313")
        $("#mynav li").removeClass("active")
        $(this).addClass("active")
    })

        $("#img").change(function(){
        imgPreview()
        console.log("123123123edflasdjfliJWN")
    })

     function imgPreview(){
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = $("#img")[0].files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        reader.readAsDataURL(file)
        //读取完成
        reader.onload = function(e) {
            //获取图片dom
            var img = document.getElementById("showimg");
            //图片路径设置为读取的图片
            img.src = e.target.result;
            console.log(img)
        };
    }

    $("#img").change(function(){
        imgPreview()
    })

    $("#createmenu").click(function(){
        var formData = new FormData()
        if ($("#img").val() == ""){
            alert("没有选择图片")
            return
        }
        formData.append('img',$('#img')[0].files[0])
        if ($("#describe").val() == "" || $("#menuname").val() == ""){
            alert("请把剩余的空填写完毕")
            return
        }
        formData.append("menuname",$("#menuname").val())
        formData.append("describe",$("#describe").val())
        $.ajax({
            url: '/user/createnewimg',
            type: 'post',
            dataType: 'json',
            data:formData,
            processData:false,
            contentType:false,
            success:function(result){
                if (result.Ret == 200){
                    alert("创建成功")
                    location.reload()
                    return
                }
                alert(result.Msg)
            }
        })
    });

    $(".gomenu").click(function () {
        var id = $(this).attr("value")
        window.location.href = "/menucenter/menudetail?menuid="+id
    })

    $(".deletemenu").click(function () {
        var id = $(this).attr("value")
        var o = $(this)
        $.ajax({
            url :"/user/deletemenu",
            type:"post",
            dataType:"json",
            data:{"menuid":id},
            success:function (result) {
                if (result.Ret == 200){
                    o.parent().parent().remove()
                    return
                }
                alert(result.Msg)
            }
        })
    })

    $(".cancel").click(function () {
        var p = $(this)
        var id = p.attr("value")
        $.ajax({
            url: '/user/usercollectionmenu',
            type: 'post',
            dataType: 'json',
            data: {"status": 0, "menuid": id},
            success: function (result) {
                console.log(result)
                if (result.Ret == 200){
                    p.parent().parent().remove()
                    return
                }
                alert(result)
            }
        })
    })
</script>