<div class="col-sm-12 p0">
    <ul class="nav nav-tabs" id="mynav">
        <li role="presentation" class="active" value="1"><a href="#">基础信息</a></li>
        <li role="presentation" value="2"><a href="#">修改信息</a></li>
    </ul>
    <div class="main">
        <div class="col-sm-12" style="margin-top: 20px;" id="mydish" >
            <p>基础信息</p>
        </div>
        <div class="col-sm-12 hidden" style="margin-top: 20px;" id="releasedish">
            <p>修改信息</p>
        </div>
    </div>
<script type="">

    $("#mynav li").click(function () {
        var s = $(this).attr("value")
        $(".main div").addClass("hidden")
        if (s == 1){
            $("#mydish").removeClass("hidden")
        }else if(s  == 2){
            $("#releasedish").removeClass("hidden")
        }
    })

    $("#mynav li").click(function () {
        $("#mynav li").removeClass("active")
        $(this).addClass("active")
    })
</script>