<div class="container">
		<div class="alert alert-warning" role="alert">
			<p class="text-center lead"><i>Welcome to food center</i></p>
		</div>
</div>
<div class="container-fluid" id="main">
		<div class="container">
			<div class="panel-group" id="accordion">
		    	<div class="panel panel-default">
		        	<div class="panel-heading">
		            	<h4 class="panel-title">
		                	<!-- <a data-toggle="collapse" data-parent="#accordion"  -->
		                	<!-- href="#collapseOne" id="foodmenu"> -->
		                	<!-- 点击我进行展开，再次点击我进行折叠。第 1 部分 -->
		                	<p >
		                		<span class="glyphicon glyphicon-plus" data-toggle="collapse" data-parent="#accordion" 
		                		href="#collapseOne" id="foodmenu" ></span>
		                		条件检索
		                	</p>
		                	<!-- </a> -->
		            	</h4>
		        	</div>
		        	<div id="collapseOne" class="panel-collapse collapse ">
		            	<div><p class="text-center lead" style="color: #8d979b"><strong>口味</strong></p></div>
		            	<div style="width: 50%;margin: 0 auto" id="taste">
							<ul class="list-inline nav-justified" >
                                <li><p class="menuitems text-center red" style="border: #D73E3F solid 2px;">辣</p></li>
								<li><p class="menuitems text-center green" style=" border:#1B9C62 solid 2px;">咖喱</p></li>
								<li><p class="menuitems text-center pink" style="border:#EF6D89 solid 2px; ">糖醋</p></li>
								<li><p class="menuitems text-center green2" style="border:#7CCE2E solid 2px; ">酸甜</p></li>
								<li><p class="menuitems text-center blue" style="border:#00ACEA solid 2px; ">香甜</p></li>
                                <li><p class="menuitems text-center pink" style="border:#EF6D89 solid 2px; ">五香</p></li>
                                <li><p class="menuitems text-center red" style="border: #D73E3F solid 2px;">香鲜</p></li>
                                <li><p class="menuitems text-center green" style=" border:#1B9C62 solid 2px;">清淡</p></li>
							</ul>	
		            	</div>

	            		<div><p class="text-center lead" style="color: #8d979b"><strong>菜系</strong></p></div>	
		            	<div id="area" style="margin-bottom:20px;">
							<ul class="list-inline nav-justified" >
								<li><p class="menuitems text-center green" style="border:#1B9C62 solid 2px;">闽菜</p></li>
								<li><p class="menuitems text-center pink" style="border:#EF6D89 solid 2px;">徽菜</p></li>
								<li><p class="menuitems text-center green2" style="border:#7CCE2E solid 2px;">川菜</p></li>
								<li><p class="menuitems text-center red" style="border: #D73E3F solid 2px;">鲁菜</p></li>
								<li><p class="menuitems text-center bule" style="border:#00ACEA solid 2px;">粤菜</p></li>
								<li><p class="menuitems text-center purple" style="border:#673ab7 solid 2px;">湘菜</p></li>
								<li><p class="menuitems text-center orange" style="border:#ffc107 solid 2px;">苏菜</p></li>
								<li><p class="menuitems text-center gray" style="border:#607d8b solid 2px;">浙菜</p></li>
							</ul>
			            	<div style="width: 50%;margin: 0 auto">
								<ul class="list-inline nav-justified" >
									<li><p class="menuitems text-center brown" style="border:#795548 solid 2px;">法国</p></li>
									<li><p class="menuitems text-center red2" style="border:#e91e63 solid 2px; ">日本</p></li>
									<li><p class="menuitems text-center blue2" style="border:#cddc39 solid 2px; ">韩国</p></li>
									<li><p class="menuitems text-center pink2" style="border: #398bdc solid 2px;">意大利</p></li>
									<li><p class="menuitems text-center gray2" style="border:#e42020 solid 2px; ">西班牙</p></li>
								</ul>	
		            		</div>
	            		</div>
	        		</div>
		    	</div>
			</div>
		</div>	
	</div>

		<div class="container" >
			<p class="col-sm-1"><strong>检索条件</strong></p>
			<div class="col-sm-8" id="condition">
				
			</div>
			<p style="float: right ;color:#346d9c" id="clear"><strong>清空条件?</strong></p>
		</div>

		<div class="container" >

			{{range $k,$v := .allDish}}

			<div class="col-sm-4">
				<img class="img-responsive col-sm-12" src="{{$v.DishImg}}">
				<div class="col-sm-12" >
					<div class="col-sm-4">
						<img src="{{$v.UserImg}}"  height="50px;" width="50px;" style="border-radius: 50px;">
					</div>
					<div class="col-sm-8">
						<p class="col-sm-12">作者:{{$v.Name}}</p>
						<p class="col-sm-12">菜名：{{$v.DishName}}</p>
					</div>
				</div>
			</div>
			{{end}}
				<!--
			<div class="col-sm-4">
				<img class="img-responsive col-sm-12" src="3.jpg">
				<div class="col-sm-12" >
					<div class="col-sm-4">
						<img src="1.jpg"  height="50px;" width="50px;" style="border-radius: 50px;">
					</div>
					<div class="col-sm-8">
						<p class="col-sm-12">作者:hxy</p>
						<p class="col-sm-12">菜名：cookie</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<img class="img-responsive col-sm-12" src="3.jpg">
				<div class="col-sm-12" >
					<div class="col-sm-4">
						<img src="1.jpg"  height="50px;" width="50px;" style="border-radius: 50px;">
					</div>
					<div class="col-sm-8">
						<p class="col-sm-12">作者:hxy</p>
						<p class="col-sm-12">菜名：cookie</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<img class="img-responsive col-sm-12" src="3.jpg">
				<div class="col-sm-12" >
					<div class="col-sm-4">
						<img src="1.jpg"  height="50px;" width="50px;" style="border-radius: 50px;">
					</div>
					<div class="col-sm-8">
						<p class="col-sm-12">作者:hxy</p>
						<p class="col-sm-12">菜名：cookie</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<img class="img-responsive col-sm-12" src="3.jpg">
				<div class="col-sm-12" >
					<div class="col-sm-4">
						<img src="1.jpg"  height="50px;" width="50px;" style="border-radius: 50px;">
					</div>
					<div class="col-sm-8">
						<p class="col-sm-12">作者:hxy</p>
						<p class="col-sm-12">菜名：cookie</p>
					</div>
				</div>
			</div>
			-->
			<div class="cpntainer">
				<div class="col-sm-12">
					<ul class="pager">
    					<li><a href="#">Previous</a></li>
    					<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
<script src="../static/js/food.js"></script>