	<!-- tip -->
	<div class="container" style="margin-bottom:20px;">  
    <ol class="breadcrumb w3l-crumbs">
      <li><a href="#"><i class="fa fa-home"></i>菜谱中心</a></li> 
      <li class="active">{{.dishInfo.DishName}}</li>
    </ol>
  </div>
	<!-- 不同页面显示的区域 -->
	
	<div class="container-fluid" id="main">
		<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">
					<h3 class="text-left col-sm-6" style="margin-top: 15px;">{{.dishInfo.DishName}}</h3>
					<div class="col-sm-6"><img src="{{.dishInfo.UserImg}}" style="height: 40px;width: 40px;border-radius: 40px;" class="pull-right" ><p class="col-sm-12 text-right">{{.dishInfo.Name}}</p></div>
				</div>
			</div>
			<div class="col-sm-6">
				<img src="1.jpg" class="img-responsive" id="sb">
			</div>
			<div class="col-sm-6" style="margin-top: 60px;">
				<p class="lead">{{.dishInfo.DishDescribe}}</p>
			</div>
		</div>
			<div class="col-sm-6">
				<h3>食材</h3>
				<div class="col-sm-12" style="border: 1px solid gray;margin-bottom: 20px;">
					<h4 class="text-left">主料</h4>
					<div class="col-sm-12">
						<ul class="list-unstyled list-inline nav-justified">
							{{range $k,$v := .mainMaterial}}
							<li><strong>{{$v}}</strong></li>
							<!--<li><strong>番茄</strong></li>
							<li><strong>土豆</strong></li>
							<li><strong>牛肉</strong></li>-->
							{{end}}
						</ul>
					</div>
				</div>
				<div class="col-sm-12" style="border: 1px solid gray;margin-bottom: 20px;">
					<h4 class="text-left">辅料</h4>
					<div class="col-sm-12">
						<ul class="list-unstyled list-inline nav-justified">
							{{range $k,$v := .secondMaterial}}
							<li><strong>{{$v}}</strong></li>
							<!--<li><strong>番茄</strong></li>
							<li><strong>土豆</strong></li>
							<li><strong>牛肉</strong></li>-->
							{{end}}
						</ul>
					</div>
				</div>

				<h3>步骤</h3>
				{{range $k,$v := .stepInfo}}
				<div class="col-sm-12">
					<div class=col-sm-6>
						<img src="{{$v.StepImg}}" class="img-responsive">
					</div>
					<div class="col-sm-6">
						<h3 class="text-left" >{{$v.Step}}.</h3>
						<p class="text-left" >{{$v.StepDescribe}}</p>
					</div>
				</div>
				{{end}}
				<div class="col-sm-12" style="margin-top: 20px;">

					<p class="col-sm-4" ><span class="glyphicon glyphicon-fire" style="color: red;font-size: 20px;"></span>人气：{{.dishInfo.PopularCount}}</p>
					<p class="col-sm-4" ><span class="glyphicon glyphicon-heart" style="color: gray;font-size: 20px;"></span>收藏：{{.dishInfo.CollectCount}}</p>
					<p class="col-sm-4" ><span class="glyphicon glyphicon-plus" style="color: gray;font-size: 20px;" id="add" data-toggle="modal" data-target="#myModal"></span>添加：</p>
				</div>
				
			</div>
			<div class="container">

			<div class="col-sm-12">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge list-group-item-success">4</span>
                                这里已经有很多评论啦！
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="./images/36.jpg" alt="...">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">小明</h4>
                        <p>有来过，666666。</p>
                        <p>4楼&nbsp;&nbsp;2017-08-08&nbsp;&nbsp;23:15发表</p>
                        <hr>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="./images/36.jpg" alt="...">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">linda</h4>
                        <p>Cras sit amet nibh libero, in gr</p>
                        <p>3楼&nbsp;&nbsp;2017-08-08&nbsp;&nbsp;23:15发表</p>
                        <hr>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="./images/36.jpg" alt="...">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">213213hkhkh</h4>
                        <p>Clla vel metus scelerisqpis.</p>
                        <p>2楼&nbsp;&nbsp;2017-08-08&nbsp;&nbsp;23:15发表</p>
                        <hr>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="./images/36.jpg" alt="...">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibherra turpis.</p>
                        <p>1楼&nbsp;&nbsp;2017-08-08&nbsp;&nbsp;23:15发表</p>
                        <hr>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-default btn-block">查看更多</button>
                </div>
			</div>



			<div class="col-sm-8" style="margin-top: 20px;margin-bottom: 20px;">
				<textarea class=" form-control col-sm-8" placeholder="来评论啊哈哈哈" ></textarea>
			</div>	
			<div class="col-sm-2" style="margin-top: 40px;">
				<button class="btn btn-info">提交</button>
			</div>
			</div>
		</div>
	</div>	



<!-- Modal -->
<div class="modal fade bs-example-modal-sm"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="static" id="myModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content col-sm-8 col-sm-offset-2" style="border 1px ;border-radius: 15px 50px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add to Menu</h4>
      </div>
      <div class="modal-body" style="height: 150px;">
      		<div class="col-sm-12">
      			<div class="col-sm-4">
  				   <form>
          				<div class="form-group">
    						<label>请选择您要添加的菜单</label>
  							<select class="form-control">
								<option>1</option>
		      					<option>2</option>
					      		<option>3</option>
					      		<option>4</option>
					      		<option>5</option>
		       				</select>
          				</div>
      				</form>
      			</div>
      			<div class="col-sm-4">
      				<label>&nbsp;</label>
      				<button class="btn btn-default col-sm-12">添加至菜单</button>
      			</div>
      			<div class="col-sm-12">
      				<button class="btn btn-default" data-toggle="modal" data-target="#buildmenu">新建菜单</button>
      			</div>
      		</div>
      </div>
 
    </div>
  </div>
</div>
<!-- Modal end -->

<div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" id="buildmenu" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Menu</h4>
      </div>
      <div class="modal-body">
        <form>	
        	<div class="row">
		        <div class="form-group col-sm-4">
		            <label for="file" class="control-label" id="addimg">MenuImg</label>
		            <input type="file" id="file" class="hidden">
		        </div>
		        <div class="col-sm-8" >
		        	<img src=""  id="showimg" style="height: 100px;width: 100px;" alt="菜单图片">
		        </div>
	        </div>

          <div class="form-group">
            <label for="recipient-name" class="control-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">MenuDescription:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary">Create Menu</button>
      </div>
    </div>
  </div>
</div>
<script src="../static/js/food.js"></script>