	<!-- tip -->
	<div class="container" style="margin-bottom:20px;">  
    <ol class="breadcrumb w3l-crumbs">
      <li><a href="#"><i class="fa fa-home"></i>菜谱中心</a></li> 
      <li class="active">{{.dishInfo.DishName}}</li>
    </ol>
  </div>
	<!-- 不同页面显示的区域 -->
	
	<div class="container-fluid" id="main">
		<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">
					<h3 class="text-left col-sm-6" style="margin-top: 15px;">{{.dishInfo.DishName}}</h3>
					<div class="col-sm-6"><img src="{{.dishInfo.UserImg}}" style="height: 40px;width: 40px;border-radius: 40px;" class="pull-right" ><p class="col-sm-12 text-right">{{.dishInfo.Name}}</p></div>
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{{.dishInfo.DishImg}}" class="img-responsive" id="sb" style="height: 300px;width:550px; ">
			</div>
			<div class="col-sm-6" style="margin-top: 60px;">
				<p class="lead">{{.dishInfo.DishDescribe}}</p>
			</div>
		</div>
			<div class="col-sm-6">
				<h3>食材</h3>
				<div class="col-sm-12" style="border: 1px solid gray;margin-bottom: 20px;">
					<h4 class="text-left">主料</h4>
					<div class="col-sm-12">
						<ul class="list-unstyled list-inline nav-justified">
							{{range $k,$v := .mainMaterial}}
							<li><strong>{{$v}}</strong></li>
							<!--<li><strong>番茄</strong></li>
							<li><strong>土豆</strong></li>
							<li><strong>牛肉</strong></li>-->
							{{end}}
						</ul>
					</div>
				</div>
				<div class="col-sm-12" style="border: 1px solid gray;margin-bottom: 20px;">
					<h4 class="text-left">辅料</h4>
					<div class="col-sm-12">
						<ul class="list-unstyled list-inline nav-justified">
							{{range $k,$v := .secondMaterial}}
							<li><strong>{{$v}}</strong></li>
							{{end}}
						</ul>
					</div>
				</div>

				<h3>步骤</h3>
				{{range $k,$v := .stepInfo}}
				<div class="col-sm-12">
					<div class=col-sm-6>
						<img src="{{$v.StepImg}}" class="img-responsive">
					</div>
					<div class="col-sm-6">
						<h3 class="text-left" >{{$v.Step}}.</h3>
						<p class="text-left" >{{$v.StepDescribe}}</p>
					</div>
				</div>
				{{end}}
				<div class="col-sm-12" style="margin-top: 20px;">

					<p class="col-sm-4" ><span class="glyphicon glyphicon-fire" style="color: red;font-size: 20px;"></span>人气：{{.dishInfo.PopularCount}}</p>
					<p class="col-sm-4" ><span class="glyphicon glyphicon-heart" style="color: gray;font-size: 20px;" id="heart" value="{{.status}}"></span>收藏：{{.dishInfo.CollectCount}}</p>
					<p class="col-sm-4" ><span class="glyphicon glyphicon-plus" style="color: gray;font-size: 20px;" id="add" data-toggle="modal" data-target="#myModal"></span>添加：</p>
				</div>
				
			</div>
			<div class="container">

			<div class="col-sm-12">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge list-group-item-success">{{.count}}</span>
                                这里已经有很多评论啦！
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-12" id="talk">
					{{if eq .count 0}}
                        <div class="alert alert-success agileits" role="alert">
                            <strong>(；′⌒`)</strong> 没有评论快来占沙发呀W(๑＞ڡ＜)✿
						</div>
					{{else}}
					{{ range $i,$v := .dishComment}}
					<div class="media">
						<div class="media-left">
							<img class="media-object" src="{{$v.UserImg}}" alt="..." style="width: 50px;height: 50px;">
						</div>
						<div class="media-body">
							<h4 class="media-heading">{{$v.Name}}</h4>
							<p>{{$v.Content}}</p>
							<p>&nbsp;&nbsp;{{$v.CommentDate}}发表</p>
							<hr>
						</div>
					</div>
					{{end}}
					{{end}}
                </div>

                <div class="text-center">
                    <button class="btn btn-default btn-block" value="{{.page}}" id="moretalk">查看更多</button>
                </div>
			</div>



			<div class="col-sm-8" style="margin-top: 20px;margin-bottom: 20px;">
				<textarea class=" form-control col-sm-8" placeholder="来评论啊哈哈哈" id="text"></textarea>
			</div>	
			<div class="col-sm-2" style="margin-top: 40px;">
				<button class="btn btn-info" id="releasetalk">提交</button>
			</div>
			</div>
		</div>
	</div>	



<!-- Modal -->
<div class="modal fade bs-example-modal-sm"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="static" id="myModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content col-sm-8 col-sm-offset-2" style="border 1px ;border-radius: 15px 50px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="menuclose"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add to Menu</h4>
      </div>
      <div class="modal-body" style="height: 150px;">
      		<div class="col-sm-12">
      			<div class="col-sm-4">
  				   <form>
          				<div class="form-group">
    						<label>请选择您要添加的菜单</label>
  							<select class="form-control" id="mymenu">
		       				</select>
          				</div>
      				</form>
      			</div>
      			<div class="col-sm-4">
      				<label>&nbsp;</label>
      				<button class="btn btn-default col-sm-12" id="tomenu">添加至菜单</button>
      			</div>
      			<div class="col-sm-12">
      				<button class="btn btn-default" data-toggle="modal" data-target="#buildmenu">新建菜单</button>
      			</div>
      		</div>
      </div>
 
    </div>
  </div>
</div>
<!-- Modal end -->

<div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" id="buildmenu" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Menu</h4>
      </div>
      <div class="modal-body">
        <form>	
        	<div class="row">
		        <div class="form-group col-sm-4">
		            <label for="img" class="control-label" id="addimg">MenuImg</label>
		            <input type="file" id="img" class="hidden">
		        </div>
		        <div class="col-sm-8" >
		        	<img src=""  id="showimg" style="height: 100px;width: 100px;" alt="菜单图片">
		        </div>
	        </div>

          <div class="form-group">
            <label for="menuname" class="control-label">Name:</label>
            <input type="text" class="form-control" id="menuname">
          </div>
          <div class="form-group">
            <label for="describe" class="control-label">MenuDescription:</label>
            <textarea class="form-control" id="describe"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" id="createmenu">Create Menu</button>
      </div>
    </div>
  </div>
</div>
<script src="../static/js/food.js"></script>
<script type="text/javascript">
	$("#moretalk").click(function(){
        var page = $(this).attr("value")
	    if (page == 0){
	    	alert("没有更多的评论内容了")
	        return
		}
		page = parseInt(page)+1
		$.ajax({
			url: '/dish/gettalk',
			type: 'get',
			dataType: 'json',
			data: {"page": page,"dishid":{{.dishid}}},
			success:function(result){
				if (result.Ret == 200) {
					for(var i = 0 ;i <result.Object.length;i++){
						var text = "<div class='media'>"+
						"<div class='media-left'>"+
							"<img class='media-object' src='"+result.Object[i].UserImg+"' alt='...' style='width: 50px;height: 50px;'>"+
						"</div>"+
						"<div class='media-body'>"+
							"<h4 class='media-heading'>"+result.Object[i].Name+"</h4>"+
							"<p>"+result.Object[i].Content+"</p>"+
							"<p>&nbsp;&nbsp;"+result.Object[i].CommentDate+"发表</p>"+
							"<hr>"+
						"</div>"+
					"</div>"
						$('#talk').append(text)
					}
					$("#moretalk").attr("value",result.Page)
				}
			}
		})
	})


	$("#releasetalk").click(function(){
		var content = $("#text").val()
		$.ajax({
			url: '/user/releasetalk',
			type: 'post',
			dataType: 'json',
			data: {"dishid":{{.dishid}},"content":content},
			success:function(result){
				if (result.Ret == 200){
					location.reload()
					return
				}
				alert(result.Msg)
			}
		})
	})


	$("#heart").click(function () {
		var status = $(this).attr("value")
		if (status == 0){
			status =1 
		}else if (status == 1){
			status = 0
		}
		console.log(status)
		var s = $(this)
		$.ajax({
			url: '/user/usercollection',
			type: 'post',
			dataType: 'json',
			data: {"dishid":{{.dishid}},"status": status},
			success:function(result){
			    console.log(result)
				if (result.Ret == 200){
					location.reload()
					if (status == 0){
						s.css("color","")
					}else {
						s.css('color', "red");
					}
					return
				}else {
					alert(result.Msg)
				}
			}
		})
    })

    $(function(){
    	if ({{.status}} == 1){
    		$("#heart").css("color","red")
    	}
    })

    $("#tomenu").click(function(event) {
    	var val = $("#mymenu").val()
    	if (val == ""){
    		alert("你没有选择菜单")
    		return
    	}
    	$.ajax({
    		url: '/user/addtomenu',
    		type: 'get',
    		dataType: 'json',
    		data: {"dishid":{{.dishid}},'menuid':val},
    		success:function(result){
    			if (result.Ret == 200) {
    				alert("添加成功")
    				location.reload()
    				return
    			}
    			alert(result.Msg)
    		}
    	})
    	
    });

    $("#createmenu").click(function(){
    	var formData = new FormData()
    	if ($("#img").val() == ""){
   			alert("没有选择图片")
   			return
  		}
		formData.append('img',$('#img')[0].files[0])
		if ($("#describe").val() == "" || $("#menuname").val() == ""){
			alert("请把剩余的空填写完毕")
			return
		}
		formData.append("menuname",$("#menuname").val())
		formData.append("describe",$("#describe").val())
		$.ajax({
		    url: '/user/createnewimg',
    		type: 'post',
    		dataType: 'json',
    		data:formData,
    		processData:false,
    		contentType:false,
    		success:function(result){
    			if (result.Ret == 200){
    				alert("创建成功")
    				location.reload()
    				return
    			}
    			alert(result.Msg)
    		}
		})
    });

</script>