	<!-- tip -->
	<div class="container" style="margin-bottom:20px;">  
    <ol class="breadcrumb w3l-crumbs">
      <li><a href="#"><i class="fa fa-home"></i>菜单中心</a></li>
      <li class="active">{{.menu.MenuName}}</li>
    </ol>
  </div>
	<!-- 不同页面显示的区域 -->
	<div class="container">
		<div class="row" style="border :1px solid gray;border-radius: 15px 50px;">
			<div class="col-sm-8" style="margin-top: 20px;margin-bottom: 20px;border-right: 1px solid #edc4c46b;">
				<div class="col-sm-12"><p class="lead text-left">{{.menu.MenuName}}</p>
					<p class="text-left">菜单描述:{{.menu.MenuDescribe}}</p>
					<p>最后修改时间：{{.menu.CreateDate}}</p>
				</div>
			</div>
			<div class="col-sm-4" style="margin-top: 20px;margin-bottom: 20px;">
				<div class="col-sm-3">
					<img src="{{.img}}" height="70px;" width="70px;"  style="border-radius: 70px;">
				</div>
				<div class="col-sm-4" style="margin-bottom:20px;">
					<p style="margin-bottom:5px;"> name:{{.name}}</p>
					<p>菜谱 ：{{.menu.Counts}}</p>
				</div>
				<div class="col-sm-12">
					{{if eq .status 0}}
					<button class="btn btn-defalut" style="background-color: #f71d16;color:white;" value="1" id="collect">收藏该菜单</button>
					{{else if eq .status 1}}
					<button class="btn btn-defalut" style="background-color: #f71d16;color:white;" value="0" id="collect">取消收藏</button>
                    {{end}}
				</div>
			</div>
		</div>
	
		<h3 class="text-center col-sm-12" style="margin-top: 20px;margin-bottom: 20px;">Come and cook it!</h3>
	</div>

	<div class="container" id="food" style="margin">
		{{range $i,$v := .dish}}
            <a href="/dish/getdishdetail?uid={{$v.Uid}}&dishId={{$v.Id}}">
                <div class="col-sm-4" style="margin-bottom: 20px;padding-left: 0px;" >
                    <div>
                        <img src="{{$v.DishImg}}" style="width: 100%;height: 3px;00px;" value="{{$v.Id}}" class="img-responsive"/>
                        <p class="col-sm-11 text-center">{{$v.DishName}}</p>
                    </div>
                </div>
            </a>
		{{end}}
	</div>


	<script type="text/javascript">
		$("#collect").click(function(){
		    var status = $(this).attr("value")
			var collect = $("#collect")
			$.ajax({
                url: '/user/usercollectionmenu',
                type: 'post',
                dataType: 'json',
                data: {"status":status,"menuid":{{.menu.Id}}},
				success:function (result) {
					if (result.Ret == 200){
						if (status == 1){
                            collect.attr("value",0)
                            collect.text("取消收藏")
							console.log("123123123")
						}else{
                            collect.attr("value",1)
                            collect.text("收藏该菜单")
							console.log("qweqweqwew")
						}
						return
					}
					alert(result.Msg)
                }
                }
            )
		})
	</script>
	
