<!-- tip -->
	<div class="container-fluid">
		<div class="alert alert-warning" role="alert">
			<p class="text-center lead"><i>Welcome to food center</i></p>
		</div>
	</div>
	<!-- 不同页面显示的区域 -->
	<div class="container">
	<h3 class="text-center"><span class="glyphicon glyphicon-bullhorn"></span>Welcome to speak enthusiastically</h3>
	<p class="text-right">一共有110条留言</p>
		<div >
			<div class="media">
	            <div class="media-left">
	                <img class="media-object" src="./images/36.jpg" alt="...">
	            </div>
	            <div class="media-body">
	                <h4 class="media-heading">linda</h4>
	                <p>Cras sit amet nibh libero, in gr</p>
	                <p>3楼&nbsp;&nbsp;2017-08-08&nbsp;&nbsp;23:15发表</p>
	                <hr>
	            </div>
	        </div>
        </div>
        <div class="col-sm-8" style="margin-top: 20px;margin-bottom: 20px;">
				<textarea class=" form-control col-sm-8" placeholder="来评论啊哈哈哈" ></textarea>
			</div>	
			<div class="col-sm-2" style="margin-top: 40px;">
				<button class="btn btn-info">提交</button>
			</div>
	</div>
<script type="text/javascript">
	$(function () {
		init()
    })
	function init() {
		console.log("4.    "+"&#x4F60")
    }
</script>
