<!-- tip -->
	<div class="container-fluid">
		<div class="alert alert-warning" role="alert">
			<p class="text-center lead"><i>Welcome to food center</i></p>
		</div>
	</div>
	<!-- 不同页面显示的区域 -->
	<div class="container" style="margin-bottom: 20px;">
	{{if  .status }}
        {{range $i,$v := .dish}}
		<ul class="media-list" style="margin-bottom: 20px;">
		  <li class="media">
			<div class="media-left">
			  <a href="#">
				<img class="media-object" src="{{$v.DishImg}}" alt="..." style="height: 100px;width: 200px;">
			  </a>
			</div>
			<div class="media-body">
			  <h4 class="media-heading">{{$v.DishName}}</h4>
			  <h3 style="margin-bottom: 20px;">{{$v.DishDescribe}}</h3>

			  <a src='' style="cursor: pointer" href="/dish/getdishdetail?uid={{$v.Uid}}&dishId={{$v.Id}}"><span class="fa fa-hand-o-right"></span>去瞧一瞧</a>
			</div>
		  </li>
		</ul>
		{{end}}

		{{range $i,$v := .menu}}
            <ul class="media-list" style="margin-bottom: 20px;">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="{{$v.MenuImg}}" alt="..." style="height: 100px;width: 200px;">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{$v.MenuName}}</h4>
                        <h3 style="margin-bottom: 20px;">{{$v.MenuDescribe}}</h3>

                        <a src='' style="cursor: pointer" href="/menucenter/menudetail?menuid={{$v.Id}}"><span class="fa fa-hand-o-right"></span>去瞧一瞧</a>
                    </div>
                </li>
            </ul>
		{{end}}
	{{else}}
	<div class="alert alert-danger col-sm-12" role="alert">
		<strong>o(╯□╰)o</strong> 没有该搜索条件的菜单或菜谱
	</div>
	{{end}}
	</div>